header {
  background-image: url("../img/post-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.encabezado {
  height: 90vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.encabezado h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 70px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

.encabezado i {
  color: white;
  font-size: 35px;
  padding: 25px 0;
}

@media only screen and (max-width: 900px) {
  .encabezado h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .encabezado h1 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 610px) {
  #Salto {
    display: none;
  }
  header {
    height: 70vh;
  }
  .encabezado {
    height: 70vh;
  }
}
@media only screen and (max-width: 450px) {
  #Salto {
    display: none;
  }
  .encabezado h1 {
    font-size: 40px;
  }
  header {
    height: 60vh;
  }
  .encabezado {
    height: 60vh;
  }
}
