.paginacion {
  background: $platinum;
  padding-bottom: 30px;
  padding-top: 40px;
}

#antes {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#despues {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
